body{
    background-image: url('../images/background1.png');
    background-size: cover;
    background-attachment: fixed;
}
.cont{
    font-family: '"Trebuchet MS", Helvetica, sans-serif';
    color: white;
    background: rgb(30, 154, 192, 0.2);  
}
.frow{
    margin: auto;
    max-width: 500px;
}
.h1{
    padding: 20px;
}
.h5{
    padding-left: 20px;
    padding-bottom: 10px;
}

/* ----------LOGIN FORM CSS--------------- */
.cont1{
    font-family: '"Trebuchet MS", Helvetica, sans-serif';
    color: white;
    background: rgb(30, 154, 192, 0.2); 
    margin-top: 10%;
    padding: 50px;
}
.loginrow{
    justify-content: center;
}
.log_a{
    text-decoration: none;
    color: white;
}
/* .tbl{
    background:white;
    margin: auto;
    width: 50%;
    margin-top: 30px;;
}
.tbl, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;    
} */

/* -----------welcome.php----------- */
.row1{
    background-color: #fff;
}
.menu{
    display: flex;
    margin-top: 20px;
}
.menu li{
    list-style-type: none;
    margin: 20px;
}
.user{
    margin: 20px;
    float: left;
}
.user img{
    border-radius: 50%;
    height: 70px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
}  
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown-content a {
    padding: 15px;
}

/* -----------profile.php----------- */
.profilecont{
    background-color: rgb(30, 154, 192, 0.5);
}
.profileh1{
    margin-top: 10%;
    color: rgb(209, 90, 96);
}
.imagegroup{
    padding: 40px;
}
.imagegroup h2{
    padding-top: 20px;
    padding-left: 20px;
}
.imagegroup img {
    height: 200px;
    border-radius: 50%;
}
.btnrow{
    margin-left: 75%;
    padding: 20px;
}
