body{
    background-image: url('../images/background1.png');
    background-size: cover;

}
.formdiv{
    font-family: '"Trebuchet MS", Helvetica, sans-serif';
    color: white;
    background: rgb(30, 154, 192);
    margin: auto;
    width: 50%;
    margin-top: 120px;
}
.labels{
    padding: 20px;
}